<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    {% include "TaskManagerApplication/bootstrap.html" %}
    <style>
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }
        .login-form {
            max-width: 300px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="center">
        <div class="login-form">
            <h1 class="text-center">Login</h1>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.username.id_for_label }}">Username:</label>
                    {{ form.username }}
                </div>
                <div class="form-group mb-3">
                    <label for="{{ form.password.id_for_label }}">Password:</label>
                    {{ form.password }}
                </div>
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary">Log In</button>
                    <a href="{% url 'main-page' %}" class="btn btn-secondary">Back</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
