<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    {% include "TaskManagerApplication/bootstrap.html" %}
    <style>
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }
        .login-form {
            max-width: 600px;
            min-width: 400px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    {% include "TaskManagerApplication/navbar.html" %}
    <div class="center">
        <div class="login-form" style="background-color: #eaccad">
            <h1 class="text-center">Login</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary btn-block">Log In</button>
                </div>
                <a href="{% url 'main-page' %}" class="btn btn-secondary btn-block my-2">Back</a>
            </form>
        </div>
    </div>
</body>
</html>
