<!DOCTYPE html>
<html>
<head>
    <title>Registration</title>
    {% include "TaskManagerApplication/bootstrap.html" %}
    <style>
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }
        .registration-form {
            max-width: 600px;
            min-width: 400px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    {% include "TaskManagerApplication/navbar.html" %}
    <div class="center">
        <div class="registration-form" style="background-color: #eaccad">
            <h1 class="text-center">Registration</h1>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                    {{ form.username.errors }}
                </div>
                <div class="form-group">
                    {{ form.password1.label_tag }}
                    {{ form.password1 }}
                    {{ form.password1.errors }}
                </div>
                <div class="form-group mb-3">
                    {{ form.password2.label_tag }}
                    {{ form.password2 }}
                    {{ form.password2.errors }}
                </div>
                <button type="submit" class="btn btn-primary btn-block">Register</button>
            </form>
            <a href="{% url 'main-page' %}" class="btn btn-secondary btn-block my-2">Back</a>
        </div>
    </div>
</body>
</html>
