<!DOCTYPE html>
<html>
<head>
    <title>Task List</title>
</head>
<body>
    <h1>Task List</h1>
    <ul>
        <a href="{% url 'main-page' %}" class="btn btn-primary">Back</a>
        {% if user.is_authenticated %}
        <a href="{% url 'task-create' %}" class="btn btn-primary">Create Task</a>
        {% endif %}
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Due Date</th>
                    <th>Status</th>
                    <th>Assigned to</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <td>{{ task.title }}</td>
                        <td>{{ task.description }}</td>
                        <td>{{ task.due_date }}</td>
                        <td>{{ task.status }}</td>
                        <td>{{ task.user.username }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </ul>
</body>
</html>
