<!DOCTYPE html>
<html>
<head>
    <title>Task List</title>
    {% include "TaskManagerApplication/bootstrap.html" %}
    <style>
        .table-striped>tbody>tr:nth-child(odd)>td,
        .table-striped>tbody>tr:nth-child(odd)>th {
	        background-color: #f0ede7;
        }
        .table-striped>tbody>tr:nth-child(even)>td,
        .table-striped>tbody>tr:nth-child(even)>th {
	        background-color: #e3dac9;
        }
    </style>
</head>
<body>
    {% include "TaskManagerApplication/navbar.html" %}
    <div class="container">
    <form method="post" action="{% url 'task-delete-multiple' %}">
        {% csrf_token %}
        {{ selection_form.management_form }}
        <h1 class="my-4">Task List</h1>

        <div class="row mb-3">
            <div class="col-md-6">
                <a href="{% url 'main-page' %}" class="btn btn-primary">Back</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'task-create' %}" class="btn btn-success">Create Task</a>
                {% endif %}
            </div>
            <div class="col-md-6 text-end">
                <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure?');">Delete Selected</button>
            </div>
        </div>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th style="background-color: #e3dac9;">Select</th>
                    <th style="background-color: #e3dac9;">Title</th>
                    <th style="background-color: #e3dac9;">Description</th>
                    <th style="background-color: #e3dac9;">Due Date</th>
                    <th style="background-color: #e3dac9;">Status</th>
                    <th style="background-color: #e3dac9;">Assigned to</th>
                    <th style="background-color: #e3dac9;">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <td>
                            <input type="checkbox" name="tasks" value="{{ task.pk }}">
                        </td>
                        <td>{{ task.title }}</td>
                        <td>{{ task.description }}</td>
                        <td>{{ task.due_date }}</td>
                        <td>
                            {% if task.status == "todo" %}
                                To Do
                            {% elif task.status == "in_progress" %}
                                In Progress
                            {% elif task.status == "completed" %}
                                Completed
                            {% else %}
                                {{ task.status }}
                            {% endif %}
                        </td>
                        <td>{{ task.user.username }}</td>
                        <td>
                            <a href="{% url 'task-update' task.pk %}" class="btn btn-primary">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
    </div>
</body>
</html>
